<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная - Медицинский портал</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/header :: main-header"></div>
<div class="container">
    <h2>Выберите специализацию</h2>

    <div class="specializations">
        <div th:each="s : ${specializations}" class="card">
            <a th:href="@{'/doctors?specializationId=' + ${s.id}}">
                <h3 th:text="${s.name}"></h3>
            </a>
        </div>
    </div>
</div>
</body>
</html>